@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&family=Ubuntu+Mono&display=swap');

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Lora', serif;
}

.header {
  display: block;
  color: yellow;
}

h2 {
  color:bisque;
  text-shadow: #000;
}

.content {
  display: flex;
  gap: 100px;
}

.client-block__header {
  display: flex;
  align-items: center;
}

.clear-button {
  width: 100px;
  height: fit-content;
  margin: 0px 0px 0px 20px;
  padding: 10px 10px;
  background-color: yellow;
  font-weight: 600;
  border-radius: 10px;
  cursor: pointer;
}

.code-area {
  font-family: 'Ubuntu Mono', monospace !important;
  height: 300px;
  width: 500px;
  max-width: 500px;
  padding: 10px;
  font-family: monospace;
  font-size: 14px;
  background-color: #000;
  color: aliceblue;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: none;
  box-sizing: border-box;
}

.if-server-error-area {
  font-family: 'Ubuntu Mono', monospace !important;
  height: 300px;
  width: 500px;
  max-width: 500px;
  padding: 10px;
  font-family: monospace;
  font-size: 14px;
  background-color: #000;
  border-radius: 4px;
  resize: none;
  box-sizing: border-box;
  border: 2px solid red;
  color: red;
}

.submit-button {
  background-color: yellow;
  font-weight: 600;
  width: 100px;
  height: 50px;
  border-radius: 10px;
  margin: 20px 0px 0px 0px;
  cursor: pointer;
}
